
<nav>
    <ul>
        <li>
            <a routerLink="/">Home</a>
        </li>
        <li *ngIf="currUser">
            <a routerLink="/profile">Welcome, {{currUser}}</a>
        </li>
        <li *ngIf="currUser && isAdmin">
            <a id="admin" routerLink="/create">Create new product</a>
        </li>
        <li>
            <a id="hide" routerLink="/">#noStaticPages... except the forms but... shhh</a>
        </li>
        <li *ngIf="!currUser" class="right">
            <a routerLink="/register">Register</a>
        </li>
        
        <li *ngIf="!currUser" class="right">
            <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="currUser" class="right">
            <a (click)="logoutHandler()">Logout</a>
        </li>
        <li *ngIf="currUser && !isAdmin" class="right">
            <a routerLink="/cart">Shopping Cart</a>
        </li>
        <li *ngIf="currUser && !isAdmin" class="right">
            <a routerLink="/profile">Profile</a>
        </li>
    </ul>
</nav>