nav {
  margin-bottom: 20px;
  position: -webkit-sticky;
position: sticky;
top: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    font-size: larger;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
    font-size: 22px;
  }
  .right {
      float: right;
  }

  #admin {
    color: lightsalmon
  }

  #hide {
    color: #333;
    cursor: default;
    font-size: 20px;
  }

  #hide:hover {
    background-color: #333;
    color: #444
  }
