<h1 *ngIf="user?.email === 'admin@gmail.com'">ADMINISTRATOR</h1>
<h1 *ngIf="user?.email === 'admin@gmail.com'">You dont deserve to buy anything... l 2 code 1st</h1>

<div *ngIf="user?.email !== 'admin@gmail.com'" class="container">
    <h1>Hello {{user.names}}... below you can check out your orders!</h1>
    <h1>--------------------------------------------------</h1>
    <h1 *ngIf="orders?.length == 0">No orders to show</h1>
    <div *ngFor="let order of orders; index as i" class="orders">
        <div class="main-info">
            <h2>Order No: {{i + 1}}</h2>
            <h2>{{order.date}}</h2>
            <h2>Total Amount: {{order.total}} $</h2>
            <h2 (click)="toggleDetails(i)" class="details btn">Details</h2>
        </div>
        <div *ngIf="detailsToShowMapping[i]" class="details">
            <table>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
                <tr *ngFor="let prod of order.products">
                    <td>{{prod.title}}</td>
                    <td>{{prod.price}} $</td>
                    <td >{{prod.qty}}</td>
                    <td>{{(+prod.qty * +prod.price).toFixed(2)}} $</td>
                </tr>
            </table>
        </div>
    </div>
    <h1>--------------------------------------------------</h1>
        
</div>

