<app-loader [isLoading]="isLoading"></app-loader>

<div *ngIf="!isLoading" class="box">
    <h1>{{product.title}}</h1>
    <img src="{{product.imageUrl}}">
    <div class="details">
        <p class="price">{{product.price}} $</p>
        <div class="desc">{{product.description}}</div>
        <div class="btns">
            <a routerLink="/">Back to Main</a>
            <a *ngIf="!currUser" class="btn" routerLink="/login">Login to Buy</a>
            <a *ngIf="currUser && !isAdmin" class="btn">Add to Cart</a>
            <a *ngIf="currUser && isAdmin" id="admin" (click)="edit()">Edit</a>
            <a *ngIf="currUser && isAdmin" id="admin" (click)="deleteHandler()">Delete</a>
        </div>
    </div>
</div>
<br>
<app-create *ngIf="toggleEdit" [isEdit]="isEdit"></app-create>