.box {
    border: 2px solid #333;
    border-radius: 20%;
    margin: 0 auto;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

h1 {
    text-align: center;
    font-size: 46px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
  }

.price {
    text-align: center;
    font-size: 46px;
}

.desc {
    overflow: auto;
    margin: 0 auto;
    word-wrap: break-word;
    width: 70%;
    font-size: 22px;
}

.btns {
    display: flex;
    justify-content: center;
}

a {
    margin: 20px;
    background-color: #333;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

a:hover {
    background-color: black;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 1);
    font-size: 24px;
}

#admin {
    color: lightsalmon
  }